body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif, Arial;
    overflow-x: hidden;
}

.top
{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #8e3143;
}

.middle
{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px;
    background-color: rgb(0, 13, 23);
}

.knight
{
    display: flex;
    flex: 1 1 auto;
    gap: 10vw;
    align-items: center;
    justify-content: center;
}

.cwrap
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.rwrap
{
    display: flex;
    align-items: center;
}

.middle h1
{
    padding-bottom: 30px;
    font-weight: 900;
    font-size: 50px;
}

/*
Sizes will be set later
*/
.icon
{
    min-height: 150px;
    min-width: 150px;
}

.name
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter
{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    background-image: url('Images/Plank.png');
    border: 5px solid rgb(37, 37, 37);
    border-radius: 15px;
}

.scorebox
{
    width: 150px;
    height: 200px;
    position: relative;
}

.scorebox img
{
    position:absolute;
    top: 0%;
    left: 25%;
    height: 200px;
    object-fit: contain;
}

.btnhdl
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

button
{
    border-radius: 7.5px;
    height: 150px;
    width: 150px;
    font-size: 30px;
}

.links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-rev
{
    flex-direction: row-reverse;
}

h1
{
    margin: 0;
    font-size: 30px;
}

h2
{
    margin: 0;
    font-size: 23px;
}

h3
{
    margin: 0;
    font-size: 18px;
}

.links a
{
    text-decoration: none;
    color: rgb(0, 204, 204);
}

.debug
{
    background-color: blue;
    border: 10px solid red;
}

.debug1
{
    background-color: green;
    border: 10px solid aqua;
}

.debug2
{
    background-color: chartreuse;
    border: 10px solid saddlebrown;
}
