body
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Ubuntu, sans-serif, Arial;
    
}

.top
{
    display: flex;
    flex-grow: 0.2;

}

.middle
{
    display: flex;
    flex-grow: 0.8;


}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: rgb(0, 13, 23);
}

.knight
{
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}

.cwrap
{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.rwrap
{
    display: flex;
    align-items: center;
}

/*
Sizes will be set later
*/
.icon
{
    min-height: 150px;
    min-width: 150px;
}

.name
{
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 50px;
    min-width: 200px;
}

.counter
{
    min-width: 50px;
    min-height: 50px;
}

.scorebox
{
    min-width: 50px;
    min-height: 50px;
}

.links
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row-rev
{
    flex-direction: row-reverse;
}

h1
{
    margin: 0;
    font-size: 30px;
}

h2
{
    margin: 0;
    font-size: 23px;
}

h3
{
    margin: 0;
    font-size: 18px;
}

.links a
{
    text-decoration: none;
    color: rgb(0, 204, 204);
}

.debug
{
    background-color: blue;
    border: 10px solid red;
}

.debug1
{
    background-color: green;
    border: 10px solid aqua;
}

.debug2
{
    background-color: chartreuse;
    border: 10px solid saddlebrown;
}
